.App {
  text-align: center;
}

.Nav {
  display: flex;
  background-color: #4972a038;
  color: black;
  height: 10rem;
  align-items: center;
}
.List {
  list-style: none;
  display: flex;
  gap: 45rem;
}

a {
  color: rgba(0, 0, 0, 0.623);
  text-decoration: none;
  font-size: 1.1rem;
  text-decoration: solid;
  letter-spacing: 1px;
  font-weight: 500;
}
a:hover {
  color: #790d0de9;
}

button {
  border-radius: 5px;
  padding: 0.2rem;
  background-color: #4972a014;
  border: #790d0d11 solid 0.2px;
}

button:hover {
  background-color: #62790d94;
  color: #ffffff;
}

.Logo-main {
  width: 100px;
  height: 100px;
  display: block;
  text-indent: -19px;
  align-items: center;
  display: flex;
  border: none;
}
